# use glob syntax.
syntax: glob
*.ser
*.class
*~
*.bak
#*.off
*.old

# eclipse conf file
.settings
.classpath
.project
.manager
.metadata
.scala_dependencies

# idea
.idea
*.iml

# building
target
build
null
tmp*
#temp*
dist
test-output
build.log
dependency-reduced-pom.xml
data/TPCH

# other scm
.svn
.CVS
.hg*

# switch to regexp syntax.
#  syntax: regexp
#  ^\.pc/

#SHITTY output not in target directory
build.log
!/data/TPCH/tpch_lineitem.csv
!/data/TPCH/tpch_part.csv
!/data/TPCH/tpch_orders.csv
!/data/TPCH/tpch_nation.csv
!/data/TPCH/tpch_region.csv
!/data/TPCH/tpch_supplier.csv
!/data/TPCH/tpch_customer.csv


*.csv
